body {
  font-family: "Manrope", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.leftNav {
  display: flex;
  align-items: center;
}

.rightNav {
  display: flex;
  align-items: center;
}

.features {
  display: flex;
  margin: 0px 40px;
  align-items: center;
}

.company {
  display: flex;
  margin: 0px 40px;
  align-items: center;
}

.careers {
  margin: 0px 40px;
}

.about {
  margin: 0px 40px;
}

.arrow {
  width: 0.8rem;
  height: 0.5rem;
  margin-left: 10px;
}

.register {
  margin-left: 60px;
  border: 1px solid grey;
  border-radius: 13px;
  padding: 10px;
}

.leftSection {
  margin: 50px 0px;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

main {
  display: flex;
  padding: 10px 80px;
  justify-content: space-between;
}

#imageHero {
  width: 25rem;
}

.text {
  padding: 50px 80px 0px 0px;
  line-height: 25px;
}

#button {
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: black;
  border-radius: 13px;
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
}

.sponsor {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
}

#button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
